doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bandit Mayhem Editor
    link(type="text/css", rel="stylsheet", href="css/app.css")

    script(type="text/javascript", src="js/app.js")
  body
    header.navbar
      ul
        li(id=load_map) Load Map
